.Fathercardpizzas{
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.734), rgba(0, 0, 0, 0.773)), url(../styles/bgcart.jpg);
    background-position: center;
    background-size: cover;  
}

.cardpizzas{
    
    
    display: flex;
    border: 2px solid #adadad;
    border-radius: 20px;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px black;


}

.Goback{
    border: 1px rgb(17, 255, 0) solid;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    color: white;
}

.Goback:hover{
    transition: all 1s;
    background-color: green; 
}

.cardpizzas img{
    margin: 10px 10px; 
   width: 200px;
   border-radius: 20px;
   margin-bottom: 20px;
 
    
}



.cardpizzas h2{
    margin: 20px 10px;   
    color: rgb(255, 255, 255);
    text-align: center;
}

.cardpizzas p{
    text-align: center;
    max-width: 100px;
    font-size: 14px;
    color: rgb(226, 226, 226);   
}


@media (max-width:800px){

    .cardpizzas{
        display: flex;
        flex-direction: column;
      
        
    }

    .cardpizzas p{
        margin-top: 20px;
    }




    .cardpizzas img{
        width: 100px;
        margin-bottom: 20px;
    }

}